<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.orderMapper">
	<insert id="insertOrderInfo">
		insert into order_info (member_no, address_no, recipient, postcode, address, detail_address, phone1, phone2, phone3, memo, total_price)
		values (#{member_no}, #{address_no}, #{recipient}, #{postcode}, #{address}, #{detail_address}, #{phone1}, #{phone2}, #{phone3}, #{memo}, #{total_price})
		<selectKey resultType="int" keyProperty="order_no" order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>

	<insert id="insertOrderGoods">
		insert into order_goods (order_no, goods_name, goods_price, amount, memo)
		values (#{order_no}, #{goods_name}, #{goods_price}, #{amount}, #{memo})
	</insert>

	<resultMap type="OrderInfoVO" id="orderInfoMap">
		<result property="order_no" column="order_no"	/>
		<result property="member_no" column="member_no"	/>
		<result property="address_no" column="address_no"	/>
		<result property="recipient" column="recipient"	/>
		<result property="postcode" column="postcode"	/>
		<result property="address" column="address"	/>
		<result property="detail_address" column="detail_address"	/>
		<result property="phone1" column="phone1"	/>
		<result property="phone2" column="phone2"	/>
		<result property="phone3" column="phone3"	/>
		<result property="memo" column="memo"	/>
		<result property="order_time" column="order_time"	/>
		<result property="order_status" column="order_status" />
		<result property="total_price" column="total_price" />
	</resultMap>
	
	<select id="selectOrderInfo" resultMap="orderInfoMap">
		select * from order_info where member_no = #{member_no} order by order_no desc
	</select>
	
	<resultMap type="OrderGoodsVO" id="orderGoodsMap">
		<result property="order_no" column="order_no" />
		<result property="goods_name" column="goods_name" />
		<result property="goods_price" column="goods_price" />
		<result property="amount" column="amount"/>
		<result property="memo" column="memo"/>
	</resultMap>
	
	<select id="selectOrderGoods" resultMap="orderGoodsMap">
		select * from order_goods where order_no = #{order_no}
	</select>
	
	<update id="updateOrderInfo">
		update order_info
		set recipient=#{recipient}, postcode=#{postcode}, address=#{address}, detail_address=#{detail_address},
		phone1=#{phone1}, phone2=#{phone2}, phone3=#{phone3}, memo=#{memo}
		where order_no = #{order_no}
	</update>
	
	<resultMap id="sellerOrderInfoMap" type="OrderInfoVO">
		<result property="order_no" column="order_no" />
		<result property="recipient" column="recipient" />
		<result property="postcode" column="postcode" />
		<result property="address" column="address" />
		<result property="detail_address" column="detail_address" />
		<result property="phone1" column="phone1" />
		<result property="phone2" column="phone2" />
		<result property="phone3" column="phone3" />
		<result property="memo" column="memo" />
		<result property="order_time" column="order_time" />
		<result property="shipping" column="shipping"/>
		<result property="total_price" column="total_price" />
	</resultMap>
	
	<select id="selectSellerOrderInfo" resultMap="sellerOrderInfoMap">
		select order_no, recipient, postcode, address, detail_address, 
		phone1, phone2, phone3, memo, order_time, shipping, total_price
		from order_info as info join address as ad 
		on info.address_no=ad.address_no 
		where ad.member_no=#{member_no} and info.order_status=#{order_status}
	</select>

	<update id="updateOrderStatus">
		update order_info set order_status=#{order_status}
		where order_no=#{order_no}
	</update>
	
	<delete id="deleteOrder">
		delete from order_goods where goods_name = #{goods_name}
	</delete>
	
</mapper>