/* .mypage-nav .table {
    width: 60%;
} */

.mypage-nav .table td {
    padding-left: 2%;
    padding-right: 2%;
}

.mypage-nav .table th {
    padding-left: 2%;
    font-weight: bold;
}

/* .mypage-nav .table th:nth-child(2) {
    width: 50%;
} */

.mypage-nav tr.th {
	background-color: rgba(0,0,0,.05);
}

.shipping-table {
    width: 100%;
}

.shipping-table tbody th {
	width: 120px;
}

.shipping-table td input[type="text"] {
	width: 100%;
}

.mypage-main .flex .btn {
    width: 150px;
    margin: 10% 0 0 26%;
}
.buy-goods td:nth-child(3) {
    text-align: right;
    padding-right: 30px;
}

.buy-goods th:nth-child(2) {
    width: 30%;
}

.buy-goods th:nth-child(3) {
    text-align: right;
    padding-right: 25px;
}

 .buy-goods td:nth-child(4) {
    width: 68px;
    text-align: center;
}