<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>주문이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" media="screen" href="..//resources/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
  <header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    	<a class="navbar-brand" href="main2.jsp" ><img src="../resources/images/logo.png" alt="logo"></a>
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle Navigation">
			<span class="navbar-toggler-icon"></span>
		</button>	
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="mypage.jsp">마이페이지</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="buyer.jsp">구매하기</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="seller.jsp">판매하기</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="seller.jsp">QnA</a>
				</li>
			</ul>
		</div>	
  </header>
  <div class="content-block">
        <div class="join-form">
                <form>
                    <table class="join-table">
                        <tr><td><label for="inputName">이름</label></td></tr>
                        <tr><td><input type="text" id="inputName" class="form-control" placeholder="이름을 입력하세요" autofocus></td></tr>
                        <tr><td><label for="inputEmail">이메일</label></td> </tr>
                        <tr><td><input type="email" class="form-control" id="inputEmail" placeholder="이메일을 입력하세요"></td></tr>
                        <tr><td><label for="inputPassword">비밀번호</label></td></tr>
                        <tr><td><input type="password" class="form-control" id="inputPassword" placeholder="비밀번호를 입력하세요"></td></tr>
                        <tr><td><label for="inputPasswordCheck">비밀번호 확인</label></td></tr>
                        <tr><td><input type="password" class="form-control" id="inputPasswordCheck" placeholder="비밀번호를 입력하세요"></td></tr>
                        <tr></tr>
                        <tr><td><button type="submit" class="btn btn-primary">회원가입</button></td></tr>
                    </table>
                </form>
              </div>
              </div>
            </body>
            </html>