.page-wrapper.buy {
	align-items: flex-start;
}

.buy iframe {
    width: 100%;
    height: calc(97vh - 70px);
    max-width: 950px;
    border: 2px solid #4F86C6;
}

.buy article {
	/* margin-top: 10px; */
	/* width: 35%; */
	flex: 3;
	width: 60%;
} 

.buy aside {
    flex: 2;
    padding-left: 7%;
}

span.name {
    display: inline-block;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.price {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.buy-input {
	padding-top: 40px;
	width: 300px;
	height: calc(97vh - 70px);
	position: relative;
}

.buy-input .bottom-block {
	position: absolute;
	bottom: 3%;
	width: 100%;
}
.buy-input button.btn-primary {
	border-radius: 0;
	width: 100%;
}

.buy-input input.form-control {
	margin-bottom: 20px;
}

.buy-input .dropdown-menu.show {
    display: block;
    height: fit-content;
    max-height: calc(100vh - 320px);
    overflow-y: auto;
}

.dropdown {
	margin-bottom: 20px;
}

.btn.dropdown-toggle {
	width: 100%;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 0;
}

.dropdown-menu {
	width: 100%;
	border-radius: 0;
}

.buy-block {
    width: 270px;
    display: inline-block;
    margin-left: 30px;
}

/* .buy-block-item1 {
	flex: 1;
}

.buy-block-item2 {
	flex: 1;
} */
.buy-block .form-check-input {
	margin-top: 6.5px;
}

.buy-form {
    height: calc(100% - 200px);
    overflow-y: auto;
    margin-bottom: 10px;
    width: 320px;
}

#buy_form {
    width: 300px;
}

.buy-block .form-check {
	float: right;
	margin-top: 3px;
}

.amount-box {
	float: left;
	width: 60px;
	height: calc(1.5em + .5rem + 1px);
	display: flex;
	border: 1px solid #ced4da;
}

.amount {
    width: 40px;
	flex:1;
	border: 0;
	text-align: center;
	color: #495057;
}

.amount-btn-box {
	border-left: 1px solid #ced4da;
	flex:1;
	display: flex;
	flex-direction: column;
}

.amount-btn-box button {
	flex:1;
	height: 14.5px;
	background-color: #fff;
	border: 0;
	padding: 0;
	display: inline-flex;
    justify-content: center;
  	color: #637383;
}

.amount-btn-box .btn-up {
	height: 14.5px;
	border-bottom: 1px solid #ced4da;
}

.amount-btn-box button div {
	height: 100%;
}

.amount-btn-box .fas,
.amount-btn-box .fas::before {
	display: inline-block;
	height: 13px;
}

.btn-down:focus,
.btn-up:focus {
    border: 1.4px solid rgba(0,123,255,.55);
    outline: none;
}

#table input[readonly] {
	border: none;	
    text-overflow: ellipsis;	
    background-color: transparent;
    font-size: 1.1rem;
    padding-bottom: .5rem;
}
#table input[readonly]:focus {
 	outline: none;
}
.delete {
	width: 30px;
    display: inline-block;
}
.selected-goods {
	width: 270px;
    display: inline-block;
}
#table .gname {
    width: 180px;
}

#table .gprice {
    text-align: right;
    width: 65px;
}

#table .memo {
	width: 270px;
    margin-top: 5px;
    margin-left: 30px;
    border: 1px solid #ccc;
}

.bottom-block table{
	width: 300px;
	font-size: 1.1rem;
}

.bottom-block td:last-child {
    text-align: right;
    font-weight: bold;
}
.bottom-block td {
    padding-bottom: 15px;
}

.delete button {
    border: 0;
    background-color: transparent;
    color: #bbb;
}

.delete button:focus {
	outline: none;
}