body {
    margin: 0 auto;
}

.main {
    width: 100%;
    text-align: center;
}

.login-box {
    margin: 40px auto;
}

.home .btn {
    width: 200px;
}

.select-btn a:first-child {
    margin-right: 5%
}

.select-btn .btn-lg {
	border-radius: 1.3rem;
	letter-spacing: 5px;
}

.home {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.5)),         
        url(../../images/notebook.jpg);
    background-size: cover;
    background-position: top;

}

.home .container {
    padding-top: 26vh;
    display: flex;
    flex-direction: column;
}

.select-btn {
    margin: auto;
    display: inline-flex;
}

.logo {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.btn-outline-primary {
	background-color: #fff;
}