.join-form {
    margin: 0 auto;
    width: 300px;
    padding-top: 20vh;
}

.join-table .form-control {
    width: 300px;
}

.join-form tr {
    padding-bottom: 20px;
}

.join-table {
    border-collapse: separate;
    border-spacing: 7px;
}
.join-table label {
    margin-top: .6rem;
    margin-bottom: 0;
}
.join-table .btn-primary {
    width: 100%;
    margin-top: .6rem;
}