.nav-menu {
    padding: 70px 15px;
    height: 100vh;
    border-right: 2px solid #4F86C6;
	background-color: white;
	width:20vw;
	max-width: 300px;
	position: fixed;
	font-size: 17px;
}

.mypage-nav div#v-pills-tab {
    margin-top: 10px;
}

.mypage-main {
    width: 100%;
   	margin-left: 25vw;
    margin-right: 4%;
}

@media (min-width:1500px) {
	.mypage-main{
		margin-left: 380px;
	}
} 

.tab-content {
	padding-top: 78px;
	max-width: 1000px;
}

input#collapse {
    margin-left: 30px;
    margin-right: 1px;
}

div#v-pills-home {
    margin-bottom: 2rem;
}

.mypage-main p {
    margin-top: 2rem;
}

.mypage-main a[target="blank"] {
    color: black;
}

.mypage-main .info p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
