.page-wrapper {
    width: 90%;
    max-width: 1200px;
    /* height: 90vh;
	margin: 10vh auto 0 auto; */
    display: flex;
    align-items: center;
    padding-top: 80px;
    margin: 0 auto;
    align-items: start;
}

.sell iframe {
    width: 100%;
    height: calc(97vh - 70px);
    max-width: 950px;
    border: 2px solid #4F86C6;
}

.sell article {
	/* margin-top: 10px; */
	/* width: 35%; */
    flex: 2;
} 

.sell aside {
    width: 60%;
    flex: 3;
    padding-left: 7%;
}

.sell p {
    color: #4F86C6;
    font-size: 1.2rem;
}

.sell table tbody{
    background-color: #fff;
}

.sell table th {
	font-weight: bold;
    padding: 6px 2%;
    text-align: center;
    letter-spacing: 3px;
}
.sell table td:last-child{
    width: 20%;
}

.sell table td:first-child{
    width: 39px;
    text-align: center
}

.sell .table td {
    padding: 0;
}

.table td input {
    border-radius: 0;
    border-color: transparent;
    background-color: transparent;
    height: 34px;
}

.sell tfoot {
    background-color: white;
}

.product {
    height: calc(100% - 160px);
    overflow-y: auto;
    margin-botton: 10%;
    padding-top: 30px;
}

.product thead {
    background-color: #e6e9ec;
}

.sell .input-group {
	width: 150px;
}

.input-group-text {
    background-color: transparent;
    border: 0;
    padding: .375rem .6rem;
}

button.delete-row {
    border: none;
    background: none;
  	padding-top: 5px;
  	padding-bottom: 5px;
}

button.delete-row:focus {
    outline: none;
}

form#goods_form {
    height: calc(97vh - 70px);
}

.charge {
    width: 100%;
}

.charge-box1 {
    float: left;
    padding-top: 20px;
}

.charge-box2 {
	float: right;
	margin-top: 64.5px;
}
