.seller_result {

    display: flex;
    flex-direction: column;

}

.seller_result p {
    margin: 40vh auto 35px auto;
    font-size: 1.4rem;
}

.seller_result  div{
    margin: 0 auto;
    color: #88715d;
    font-size: 1.1rem;
}

.seller_result #p:visited {
	color: #88715d;
}